@import './components/sprite';

/** global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

hr {
  margin: 20px 0;
}

label {
  display: block;
  margin-bottom: 10px;
}
