.button {
  display: inline-block;
  border-radius: 3px;
  padding: 10px 22px 7px;
  text-decoration: none;
  color: #fff;

  &--red {
    background-color: $red;
    transition: .3s;

    &:hover {
      background-color: lighten($red, 7%);
    }
  }

  &--yellow {
    background-color: $yellow;

    &:hover {
      background-color: lighten($yellow, 7%);
    }
  }

  &--text-upper {
    text-transform: uppercase;
  }
}
