.footer {
  &__top {
    padding: 88px 0 83px;
    text-align: center;
    background-color: $gray-darkest;
  }

  &__bottom {
    padding: 26px;
    text-align: center;
    background-color: $gray;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 1.8125rem;
    color: #fff;
    font-family: $font-family-bold;
  }

  &__social {
    margin-left: 20px;
    padding: 15px;
    border: 1px solid $gray-dark;
    border-radius: 3px;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      border-color: $red;
    }
  }

  &__links {
    margin-bottom: 35px;
    color: #fff;

    .fa {
      color: #fff;
    }
  }

  &__text {
    margin-bottom: 30px;
    font-size: 0.875rem;
    color: $gray-light;
  }

  &__field {
    width: 67%;
    margin: 0 auto 25px;
  }

  &__input {
    width: 100%;
    padding: 20px;
    font-size: 0.875rem;
    color: $gray-light;
    background-color: $gray-dark;
    border: none;
  }

  .button {
    border: 2px solid $gray-light;
    padding: 15px 37px;
    box-sizing: border-box;
    font-size: 1.0625rem;
    font-family: $font-family-bold;
    background-color: initial;
    color: #fff;

    &:hover {
      border-color: $red;
    }
  }

  &__copy {
    font-size: 0.875rem;
    color: $gray-light;
  }
}
