{
  "presets": ["latest"],
  "plugins": [
    "transform-export-extensions",
    "syntax-dynamic-import",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-exponentiation-operator"
  ]
}