extends layout/base

block content
    include sections/header

    include sections/index/hero
    include sections/index/about
    include sections/index/approach
    include sections/index/work
    include sections/index/form
