.form-section {
  padding: 100px 0 110px 0;
  color: #fff;
  background-color: $blue;

  .btn-down {
    position: relative;
    width: 65px;
    height: 65px;
    margin: auto auto 20px;
    border: 2px solid #fff;
    border-radius: 50%;
  }

  .arrow-down {
    @include center-xy();

    .fa {
      font-size: 2rem;
    }
  }
}

.form {
  position: relative;
  max-width: 680px;
  margin:  auto;
  padding: 50px 50px 66px 50px;
  border-radius: 3px;
  color: $gray;
  text-align: center;
  background-color: #fff;

  &-container {
    padding-top: 30px;
  }

  &:before {
    @include center-x();
    display: block;
    top: -59px;
    content: '';
    border: 30px solid transparent;
    border-bottom-color: #fff;
  }

  &__close-button {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    border-radius: 50%;
    border: 2px solid #fff;
    font-size: 2rem;
    color: #fff;
    text-align: center;
    background-color: $red;
    transition: 0.3s;

    &:hover {
      background-color: lighten($red, 10%);
    }
  }

  &__text {
    margin-bottom: 33px;
    font-size: 0.9375rem;
    line-height: 1.5;
  }

  &__fields {
    margin-bottom: 36px;
  }

  &__input {
    display: block;
    width: 76%;
    margin: auto auto 8px auto;
    padding: 18px 20px;
    border: 1px solid $gray-light;
    border-radius: 3px;
    font-size: 0.875rem;
    outline: none;

    &:focus {
      border-color: $blue;
      box-shadow: 0 0 8px 1px rgba($blue, 0.5);
    }
  }

  .button {
    padding: 15px 30px;
    border: none;
  }
}
