mixin title(title, text, withLine)
    div(class=(withLine !== false) ? 'title title--with-bottom-line' : 'title')
        if title
            h2.title.title__header= title
        if text
            .title__text= text
