include ../../components/mixins

section.about
    .container
        +title('About us', 'We are added our major Services')

        ul.about__list
            li.about__item
                .icon.icon-like
                h3.about__header Facebook Marketing
                p.about__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores atque delectus deleniti eligendi enim ex expedita facere, facilis iste minus neque optio pariatur perspiciatis possimus quae quam quas reprehenderit rerum?

            li.about__item
                .icon.icon-book
                h3.about__header landing page Creation
                p.about__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores atque delectus deleniti eligendi enim ex expedita facere, facilis iste minus neque optio pariatur perspiciatis possimus quae quam quas reprehenderit rerum?

            li.about__item
                .icon.icon-message
                h3.about__header Ads management
                p.about__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores atque delectus deleniti eligendi enim ex expedita facere, facilis iste minus neque optio pariatur perspiciatis possimus quae quam quas reprehenderit rerum?