section.approach
    .container
        +title('Our Approach', 'Check Our approaches step by step (how we do it)')

        ul.approach__list
            li.approach__item
                .approach__image
                    img.approach__picture(src='../images/step-1.jpg' alt='')
                    .approach__step step
                .approach__text
                    .approach__title Step 1: Heading Here
                    p.approach__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet architecto atque aut beatae consequatur deserunt, eveniet, fugit illum in iusto libero minima nihil nobis, officiis placeat possimus reprehenderit sint sit.

            li.approach__item
                .approach__image
                    img.approach__picture(src='../images/step-2.jpg' alt='')
                    .approach__step step
                .approach__text
                    .approach__title Step 2: Heading Here
                    p.approach__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet architecto atque aut beatae consequatur deserunt, eveniet, fugit illum in iusto libero minima nihil nobis, officiis placeat possimus reprehenderit sint sit.

            li.approach__item
                .approach__image
                    img.approach__picture(src='../images/step-3.jpg' alt='')
                    .approach__step step
                .approach__text
                    .approach__title Step 3: Heading Here
                    p.approach__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet architecto atque aut beatae consequatur deserunt, eveniet, fugit illum in iusto libero minima nihil nobis, officiis placeat possimus reprehenderit sint sit.

            li.approach__item
                .approach__image
                    img.approach__picture(src='../images/step-4.jpg' alt='')
                    .approach__step step
                .approach__text
                    .approach__title Step 4: Heading Here
                    p.approach__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet architecto atque aut beatae consequatur deserunt, eveniet, fugit illum in iusto libero minima nihil nobis, officiis placeat possimus reprehenderit sint sit.
